.App {
  text-align: center;
}

#root{
  display: flex;
  justify-content: center;
  background-color: #535659;
}

.main-menu{
  background-color: #FFF;;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

li{
  text-decoration: none;

}

button{

}

.main-header{
  text-align: center;
}

.menu-header{
  text-align: center;
}

table,
td {
    border: 1px solid #333;
    text-align: center;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}


td {
  padding: 10px;
}

.order-container{
  background-color: #535659;
  color: #FFF;
  padding: 10px 30px;
  border: 1px solid black;
}

/*
div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
